body {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
thead tr > th {
    font-weight: bold;
    font-size: 20px;
}

tbody td {
    padding: 10px 40px;
}

a.btn {
    cursor: pointer;
    color: white!important;
}

.thead-dark th {
    background-color: #212529;
    border-color: #212529;
    color: white;
}